*{font-family: 'Monda', sans-serif;}
*{cursor:url(https://66.media.tumblr.com/c03f5d95dd5889bf86196da1821a23ff/da63d489c665f579-5a/s75x75_c1/fd89ff7e3356627fa6a0d3bb8290e17d02b62d77.png), auto;}
h1{text-align: center;top:-20px;position: relative;}
.container{display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr; margin-left: 25px;margin-right: 25px;
    grid-gap: 4px;
}
.a{width: 300px;}
.b{width: 300px;}
.c{width: 300px;}
.d{width: 300px;}
.e{width: 300px;}
.f{width: 300px;}

a:visited{
    color: rgb(230, 298, 97);;text-decoration: none;}
a{color: rgb(230, 298, 97);text-decoration: none;}

.masthead{ position:relative;background-color: rgb(37,37,37);border-radius: 10pt;
    width: 85%;height: 45px;margin-left: 80px;top:-48px}
    
            .infobutton{ position: relative;
                top:2px;
                left:70px;
                color: rgb(230, 298, 97); font-size:18pt}
            .graphicsbutton{ position:relative;
                top:-92px;
                right: -220px;
                color: rgb(230, 298, 97);; font-size:18pt}
             .photography{ position: relative;
                top:-188px;
                right:-420px;
                color: rgb(230, 298, 97);; font-size:18pt}
            .doodlesbutton{ position: relative;
                top:-282px;
                right: -650px;
                color: rgb(230, 298, 97);; font-size:18pt}
.atext{position: relative;
    top: -30px;
        font-size: 35px;z-index: -1;}
.btext{position: relative;
 top: -30px;
        font-size: 35px;}
.ctext{position: relative;
        ;top: -30px;
        font-size: 35px;}
.dtext{position: relative;
        ;top: -30px;
        font-size: 35px;}
.etext{position: relative;
        ;top: -30px;
        font-size: 35px;}
.ftext{position: relative;
        ;top: -30px;
        font-size: 35px;}

.close{color: rgb(226, 215, 61);line-height: 50px;
  background-color: rgb(37,37,37); border-radius: 4px;left: 420px;
  position: relative;top:30px;}

.futuraone{width: 500px;}
.futuratwo{width: 500px;}
.vector{width: 500px;}
.lifeimage{width:500px;}
.lifetwo{width:500px;}
.lifethree{width:500px;}
.wayfindingone{width:500px;}
.wayfindingtwo{width:500px;}
.wayfindingthree{width:500px;}
.mockupone{width:500px;}
.mockuptwo{width:500px;}
.mockupthree{width:500px;}
.pixeltwo{width:300px;}

.a {
    opacity: 1.0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.a:hover {
    opacity: .6;
    transition: opacity .70s ease-in-out;
    -moz-transition: opacity .70s ease-in-out;
    -webkit-transition: opacity .70s ease-in-out;}
.b {
    opacity: 1.0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.b:hover {
    opacity: .6;
    transition: opacity .70s ease-in-out;
    -moz-transition: opacity .70s ease-in-out;
    -webkit-transition: opacity .70s ease-in-out;}
.c {
    opacity: 1.0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.c:hover {
    opacity: .6;
    transition: opacity .70s ease-in-out;
    -moz-transition: opacity .70s ease-in-out;
    -webkit-transition: opacity .70s ease-in-out;}
.d {
    opacity: 1.0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.d:hover {
    opacity: .6;
    transition: opacity .70s ease-in-out;
    -moz-transition: opacity .70s ease-in-out;
    -webkit-transition: opacity .70s ease-in-out;}
.e {
    opacity: 1.0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.e:hover {
    opacity: .6;
    transition: opacity .70s ease-in-out;
    -moz-transition: opacity .70s ease-in-out;
    -webkit-transition: opacity .70s ease-in-out;}
.f {
    opacity: 1.0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.f:hover {
    opacity: .6;
    transition: opacity .70s ease-in-out;
    -moz-transition: opacity .70s ease-in-out;
    -webkit-transition: opacity .70s ease-in-out;}


 #fade{ 
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}    


#toggle{
        visibility: hidden;
        opacity: 0;
        position: relative;
        z-index: -1;
      }
      
      #toggle:checked ~ dialog {
        display: block;
      }

      @keyframes appear {
        0%{
          opacity: 0;
          transform: translateY(-10px);
        }
      }
      
      dialog{
        animation: appear 350ms ease-in 1;
        max-width: 500px;
        top: 170px;
      }
      .lifetext{position:absolute;z-index:2}

      
    
      #toggle2{
        visibility: hidden;
        opacity: 0;
        position: relative;
        z-index: -1;
      }
        #toggle2:checked ~ dialog {
        display: block;
      }
      @keyframes appear {
        0%{
          opacity: 0;
          transform: translateY(-10px);
        }
      }
      dialog{
        animation: appear 350ms ease-in 1;
        max-width: 500px;
        top: 170px;
      }
      .vectortext{position:absolute;z-index:2}

      
      #toggle3{
        visibility: hidden;
        opacity: 0;
        position: relative;
        z-index: -1;
        
      }
        #toggle3:checked ~ dialog {
        display: block;
      }
      @keyframes appear {
        0%{
          opacity: 0;
          transform: translateY(-10px);
        }
      }
      dialog{
        animation: appear 350ms ease-in 1;
        max-width: 500px;
        top: 170px;
      }
      .broadsidetext{position:absolute;z-index:2}


       #toggle4{
        visibility: hidden;
        opacity: 0;
        position: relative;
        z-index: -1;
        
      }
        #toggle4:checked ~ dialog {
        display: block;
      }
      @keyframes appear {
        0%{
          opacity: 0;
          transform: translateY(-10px);
        }
      }
      dialog{
        animation: appear 350ms ease-in 1;
        max-width: 500px;
        top: 170px;
      }
      .wayfindingtext{position:absolute;z-index:2}


      #toggle5{
        visibility: hidden;
        opacity: 0;
        position: relative;
        z-index: -1;
        
      }
        #toggle5:checked ~ dialog {
        display: block;
      }
      @keyframes appear {
        0%{
          opacity: 0;
          transform: translateY(-10px);
        }
      }
      dialog{
        animation: appear 350ms ease-in 1;
        max-width: 500px;
        top: 170px;
      }
      .mockuptext{position:absolute;z-index:2}


      #toggle6{
        visibility: hidden;
        opacity: 0;
        position: relative;
        z-index: -1;
        
      }
        #toggle6:checked ~ dialog {
        display: block;
      }
      @keyframes appear {
        0%{
          opacity: 0;
          transform: translateY(-10px);
        }
      }
      dialog{
        animation: appear 350ms ease-in 1;
        max-width: 500px;
        top: 170px;
      }
      .pixeltext{position:absolute;z-index:2}
      
/* Mobile */

@media screen and (max-width: 600px) {
.container{display: grid;
grid-template-columns: repeat(auto-fill, minmax (100px,1fr));
grid-auto-columns: 1fr;
}
.masthead{position: relative;right:100px;top:-35px;width:1000px;}
.infobutton{position:relative;font-size: 14pt;top:7px;left:55px}
.graphicsbutton{font-size: 14pt;top:-66px;left:140px;left:135px}
.photography{font-size: 14pt;top:-138px;left:260px;left:255px}
.doodlesbutton{font-size: 14pt;top:-210px;left:400px}
h1{position:relative;left:10px}
.buttontext{visibility: hidden;}
}