*{cursor:url(https://66.media.tumblr.com/c03f5d95dd5889bf86196da1821a23ff/da63d489c665f579-5a/s75x75_c1/fd89ff7e3356627fa6a0d3bb8290e17d02b62d77.png), 
  auto;font-family: 'Monda', sans-serif;margin-left: -2px;margin-top:-8px}

.container{
  display: grid;
  grid-gap:20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat (6, 1fr);
  grid-template-areas:
  ". a a a a ."
  ". . . . . ."
  ". . j j . ."
  ". . v l . ."
  ". . b w . ."
  ". . m . . .";
}


a:visited{color: rgb(230, 298, 97);text-decoration: none;}
a{color: rgb(230, 298, 97);text-decoration: none;}

.masthead{grid-area:a;background-color: rgb(37,37,37);
  width:100%;height: 45px;top:20px;position:absolute;left:-0;}

.graphichead{grid-area:j;top:60px;position: relative;}

h6{display: inline;font-size:18pt;position: relative;}
.infobutton{grid-area:i;top:5px;z-index: 3;position:relative;
  left:250px;}
.graphicsbutton{grid-area:g;color: rgb(230, 298, 97);position: relative;top:5px;z-index: 3;
  left:300px;}
.photography{grid-area:p;position: relative;top:5px;z-index: 3;left:360px;}
.doodlesbutton{grid-area:d;position: relative;top:5px;z-index: 3;left:410px;}

.life{grid-area:l}
.vector{grid-area:v}
.broadside{grid-area:b}
.wayfinding{grid-area:w}
.packaging{grid-area:m}

.textlabel{position:relative;font-size: 25pt;;text-align:center;top:50px;}
.textdescript{position: relative;top:20px;text-align:center;line-height:28px;}

img{width: 300px;top:50px;position: relative;}
h1{text-align: center;}



@media screen and (max-width: 700px) {
  img{width: 200px;position: relative;z-index: 3;left:-10px;}
  .textlabel{left:-10px;font-size: 17pt;}
  .textdescript{left: -10px;font-size:10pt;text-align: left;line-height: 20px;top:35px}
  .graphichead{position: relative;top:20px;}
  .masthead{position: relative;left:-5%;border-radius: 0;width: 110vw;}
  *{cursor: default}
  .infobutton{left:35px;font-size:14pt;}
  .graphicsbutton{left:75px;font-size:14pt;}
  .photography{left:115px;font-size:14pt;}
  .doodlesbutton{left:145px;font-size:14pt;}
  .effect:hover {
    opacity: 1 !important;}
}

/*animations*/

A:hover{ color: #81ffab;}

#fade{ 
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
}    

.effect {
  opacity: 1.0;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}
.effect:hover {
  opacity: .6;
  transition: opacity .70s ease-in-out;
  -moz-transition: opacity .70s ease-in-out;
  -webkit-transition: opacity .70s ease-in-out;}

