*{cursor:url(https://66.media.tumblr.com/c03f5d95dd5889bf86196da1821a23ff/da63d489c665f579-5a/s75x75_c1/fd89ff7e3356627fa6a0d3bb8290e17d02b62d77.png), 
  auto;font-family: 'Monda', sans-serif;margin-left: -2px;margin-top:-8px}

.container{
  display: grid;
  grid-gap:20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat (6, 1fr);
  grid-template-areas:
  ". a a a a ."
  ". . . . . ."
  ". . j j . ."
  ". . v l . ."
  ". . b . . ."
  ". . . . . .";
}


a:visited{color: rgb(230, 298, 97);text-decoration: none;}
a{color: rgb(230, 298, 97);text-decoration: none;}

.masthead{grid-area:a;background-color: rgb(37,37,37);border-radius: 10pt;
  width: 85%; margin-left: 80px;height: 45px;top:32px;position: relative;}

.doodleshead{grid-area:j;top:20px;position: relative;}

h6{display: inline;font-size:18pt;position: relative;}
.infobutton{grid-area:i;top:5px;z-index: 3;position:relative;
  left:50px;}
.graphicsbutton{grid-area:g;color: rgb(230, 298, 97);position: relative;top:5px;z-index: 3;
  left:100px;}
.photography{grid-area:p;position: relative;top:5px;z-index: 3;left:160px;}
.doodlesbutton{grid-area:d;position: relative;top:5px;z-index: 3;left:210px;}

.drawing{grid-area:l}
.sketches{grid-area:v}
.painting{grid-area:b}


.textlabel{position:relative;font-size: 25pt;;text-align:center;}

img{width: 300px;}
h1{text-align: center;}

.close{color: rgb(226, 215, 61);line-height: 50px;
  background-color: rgb(37,37,37); border-radius: 4px;left: 420px;
  position: relative;top:30px;}
.popup{width:500px;}


@media screen and (max-width: 700px) {
  img{width: 200px;position: relative;z-index: 3;left:-10px;}
  .textlabel{left:-10px;font-size: 17pt;}
  .textdescript{left: -121px;font-size:10pt;text-align: left;line-height: 20px;}
  .doodleshead{position: relative;top:-20px;top:20px}
  .masthead{position: relative;right:105px;border-radius: 0;width: 110vw;}
  *{cursor: default}
  dialog{visibility: hidden;display: none;position:hidden;}


  .infobutton{left:60px;font-size:14pt;}
  .graphicsbutton{left:100px;font-size:14pt;}
  .photography{left:145px;font-size:14pt;}
  .doodlesbutton{left:170px;font-size:14pt;}
}


/*animations*/

A:hover{ color: #81ffab;}

#fade{ 
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
}    

.effect {
  opacity: 1.0;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}
.effect:hover {
  opacity: .6;
  transition: opacity .70s ease-in-out;
  -moz-transition: opacity .70s ease-in-out;
  -webkit-transition: opacity .70s ease-in-out;}

  /*modals*/


#toggle{
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: -1;
}

#toggle:checked ~ dialog {
  display: block;
}

@keyframes appear {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
}

dialog{
  animation: appear 350ms ease-in 1;
  max-width: 500px;
  top: 170px;
}
.sketchescontent{position:absolute;z-index:2;left:240px;}

#toggle2{
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: -1;
}

#toggle2:checked ~ dialog {
  display: block;
}

@keyframes appear {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
}

dialog{
  animation: appear 350ms ease-in 1;
  max-width: 500px;
  top: 170px;
}
.paintingcontent{position:absolute;z-index:2;left:240px;}

#toggle3{
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: -1;
}

#toggle3:checked ~ dialog {
  display: block;
}

@keyframes appear {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
}

dialog{
  animation: appear 350ms ease-in 1;
  max-width: 500px;
  top: 170px;
}
.drawingcontent{position:absolute;z-index:2;left:240px;}